.button {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 250px;
  height: 50px;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  box-shadow: 4px 4px 4px 2px var(--shadow);
  transition: background-color, color 250ms var(--time-function);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    color: violet;
    cursor: pointer;
  }

  @media screen and (min-width: 480px) {
    width: 400px;
  }
}

.link {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: inherit;

  @media screen and (min-width: 480px) {
    font-size: 20px;
  }
}
